//Set up variables for the main fonts and colors in the project
$primary-fontstack: 'Source Sans Pro', sans-serif;
$secondary-fontstack: 'Bungee', sans-serif;
$background-color1: #4056A1;
$color-accent:  #ff6347;
$background-color2:#EBA83A;;
$border1: thick solid #849bbd;
$background-body: #f4f1ec; 