@import "_variables";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: $background-body;
  font-size: 24px;
  font-family: $primary-fontstack;
}

main {
  width: 90%;
  height: 600px;
  background-color:$background-body;
  margin: auto;
}