@import "_variables";

nav {
  font-family: $secondary-fontstack;
  height: 120px;
  width: 100%;
  background-color: $background-color1;
  color: #FFFFFF;
  padding: 3rem 1.5em 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 2rem;
  position: fixed;
  top: 0;
}

.navRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $primary-fontstack;
  font-size: 1.5rem;
}

i {
  color:$color-accent;
  padding: 0.3rem;
}