@import "_variables";

section > form {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

form > div {
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-family: $secondary-fontstack;
  font-size: medium;
}

.new-tweet button {
  background-color: $background-color1;
  color: white;  

}

button:hover {
 border-color: lightblue;
 border: 3px;
 translate: -0.25em;
}

textarea {
  border: none;
  background-color: $background-body;
  border-bottom: thick solid#849bbd;
  padding-top: 0 0 10px;
}

section h2 {
  color: #545149;
}