.main-header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #849bbd;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  position: relative;
  z-index: -1;
}

.main-header img {
  position: relative;
  height: 60%;
  top: 120px;
}

h2 {
  color: white;
}