html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  width: 90%;
  height: 600px;
  background-color: #f4f1ec;
  margin: auto;
}
