
.the-tweets {
  height: auto;
  border: thick solid#849bbd;
  margin: auto;
}

.the-tweets:hover {
  box-shadow: 10px 5px 5px gray;
}

article.tweet {
  width: 98%;
  margin: auto;
}

article.tweet > p {
  border-bottom: thick solid#849bbd;
  height: auto;
  margin: 20px 0 10px;
  padding-bottom: 20px;
}

section.the-tweets .tweet-header {
  vertical-align: super;
  font-size: smaller;
  margin-top: 10;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

section.the-tweets .tweet-header > div {
  display: flex;
}

section.the-tweets #isaac {
  vertical-align: super;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 2.5px;
  top: 5px;
}

section.the-tweets .tweet-header > div > p { 
  margin-top: 10px;
  padding-left: 2.5px;
  font-size: smaller;
}

section.the-tweets .tweet-header > p {
  margin-top: 10px;
  color: lightgrey;
}

section.the-tweets .tweet-header > p:hover {
  color: darkgray;
}

article.tweet > footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}


section.the-tweets footer i {
  color: #4056A1;
  font-size: small;
  vertical-align: super;
}

section.the-tweets footer i:hover {
  color: goldenrod;
}


section.the-tweets footer p {
  vertical-align: super;
  font-size: smaller;
  margin: 0;
}
